@font-face {
    font-family: Poppins-Regular;
    src: url("../../../public/Fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: Poppins-Thin;
    src: url("../../../public/Fonts/Poppins-Thin.ttf");
}

@font-face {
    font-family: Inter-Medium;
    src: url("../../../public/Fonts/Inter-Medium.ttf");
}

@font-face {
    font-family: BeVietnamPro-Regular;
    src: url("../public/Fonts/BeVietnamPro-Regular.ttf");
}

.img-profile {
    border-radius: 20px;
}

.bell-icon {
    width: 70px;
    /* background-color: red;/ */
}

.headerContainer {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: space-between;
    margin-left: 29px !important;
    /* background-color: blue !important; */
    padding-left: 20px !important;
    width: 100% !important;
    margin-right: 75px !important;
}

.subDropLi {
    display: flex;
    align-items: center !important;
    padding: 0px 10px !important;
}

.header-icon {
    width: 21px;
    /* padding-left: 10px; */
}

.headerFirstDiv {
    width: 100%;
    /* height: 10vh; */
    /* background-color: red; */
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #eeeef0;
    background-color: #f3f4f7;
}

.logo {
    width: 160px;
}

.heading {
    color: black;
    font-size: 17px;
    font-family: BeVietnamPro-Regular !important;
    margin-left: 20px;
    margin-bottom: 3px;
}

.button-icons {
    background-color: white;
    border-radius: 5px;
    border: none;
    -webkit-box-shadow: 4px 4px 10px 0 rgb(0 0 0 / 8%),
        -5px -6px 10px 0 rgb(253 253 253);
    margin-left: 20px;
    box-shadow: 4px 4px 10px 0 rgb(0 0 0 / 8%),
        -5px -6px 10px 0 rgb(253 253 253);
    padding: 5px 10px 5px 10px;
    background-image: linear-gradient(to top, #f1f2f5, rgba(255, 255, 255, 0)),
        linear-gradient(to bottom, #f6f6f9, #f6f6f9);
    cursor: pointer;
}

.inputHeader {
    width: 250px;
    padding: 6px;
    border: 1px solid #e6e6e6;
    font-family: BeVietnamPro-Regular;
}

.icons-header {
    width: 20px;
}

.logoContainer {
    display: flex;
    /* align-items: center; */
}

.badgeDiv {
    position: absolute;
    right: -6px;
    top: -11px;
    background-color: #ff5334;
    width: 20px;
    display: flex;
    justify-content: center;
}

.headingTime {
    color: black;
    font-size: 17px;
    font-family: "BeVietnamPro-Regular";
    margin-left: 5px !important;
}

.badge {
    color: white;
    font-family: Poppins-Regular;
    margin: 0;
    font-size: 12px;
}

.headerSecondDiv {
    width: 100% !important;
    background-color: #fbfcffad;
    display: flex;
    justify-content: center;
    padding: 15px 4px 15px 4px;
}

.navbarList {
    width: 96% !important;
    /* background-color: blue; */
    /* margin-left: 50px; */
    font-size: 15px;
    color: #000;
    font-family: Poppins-Regular;
    display: flex;
    flex-direction: row;
}

.headerContainerList {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 35px;
}

.headerContainerListOne {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 13px;
}

.navbarListNames {
    padding-left: 10px;
    list-style-type: none;
    font-size: 14px;
    font-weight: 500;
    font-family: BeVietnamPro-Regular !important;
    color: black;
    text-align: left !important;
}

#metaHead {
    padding-left: 4px;
    list-style-type: none;
    font-size: 14.5px;
    font-weight: 500;
    font-family: BeVietnamPro-Regular !important;
    color: black;
}

#otherHead {
    padding-left: 4px;
    list-style-type: none;
    font-size: 14.5px;
    font-weight: 500;
    font-family: BeVietnamPro-Regular !important;
    color: black;
}

.navbarListNames:hover {
    color: #ff8b22;
}

.navbarListNames:active {
    color: #ff8b22 !important;
}

a:active {
    color: #ff8b22 !important;
}

#search-box2 {
    padding: 10px;
    border: none;
    border-radius: 50px;
    display: none;
    float: left;
    width: 200px;
    background-color: #495155;
    /* transition: all 3s; */
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content li {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#logoutButton {
    background-color: #ddd;
    /* width: 100px; */
    font-family: BeVietnamPro-Regular;
    color: red;
}

#profileButton {
    background-color: #ddd;
}

#profileButton:hover {
    background-color: #ddd !important;
}

#logoutButton:hover {
    background-color: #ddd !important;
    color: red !important;
}

#Demo {
    /* background-color: blue; */
    width: 170px !important;
    margin-left: 10px;
    margin-top: 10px;
}

#headingModal {
    font-family: BeVietnamPro-Regular;
    color: #495155;
}

.mainContainer {
    width: 100% !important;
    display: flex !important;
    align-items: center !important;
    flex-direction: column !important;
}

.subNameDiv {
    width: 80% !important;
    /* background-color: #ddd; */
    margin-top: 10px !important;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    flex-direction: column !important;
}

.namePage {
    font-family: BeVietnamPro-Regular;
    font-size: 20px;
    color: #aaa9b6;
    font-weight: 500;
}

.saveButtonText {
    color: white;
    text-decoration: none;
    background-color: #00cc8e;
    font-family: BeVietnamPro-Regular;
    font-size: 17px;
    font-weight: 500;
    width: 90px;
    height: 35px;
    /* border: none; */
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subContainer {
    width: 90%;
    border: 1px solid rgb(233, 233, 233);
    /* height: 50vh; */
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.profilePic {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.inputType {
    width: 180px;
    border: 1px solid #eef0f1;
    font-family: BeVietnamPro-Regular;
    font-size: 14px;
    color: #828c8e;
    margin-top: 3px;
    padding: 3px;
    padding-top: 5px;
}

.fullNameText {
    color: #666666;
    font-size: 14px;
    font-family: BeVietnamPro-Regular;
    margin: 0;
    font-weight: 400;
    margin-top: 10px;
}

.passwordText {
    font-family: BeVietnamPro-Regular;
    font-size: 14px;
    color: #00cc8e;
    cursor: pointer;
}

.inputTypeMonth {
    width: 35%;
    border: 1px solid #eef0f1;
    font-family: BeVietnamPro-Regular;
    font-size: 14px;
    color: #828c8e;
    margin-top: 3px;
    padding: 3px;
    padding-top: 5px;
}

.inputTypeDate {
    width: 20%;
    border: 1px solid #eef0f1;
    font-family: BeVietnamPro-Regular;
    font-size: 14px;
    color: #828c8e;
    margin-top: 3px;
    padding: 3px;
    padding-top: 5px;
    margin-left: 3px;
}

.inputTypeYear {
    width: 35%;
    border: 1px solid #eef0f1;
    font-family: BeVietnamPro-Regular;
    font-size: 14px;
    color: #828c8e;
    margin-top: 3px;
    padding: 3px;
    padding-top: 5px;
    margin-left: 3px;
}

.inputTypeName {
    width: 180px;
    border: 1px solid #eef0f1;
    font-family: BeVietnamPro-Regular;
    font-size: 14px;
    color: #828c8e;
    margin-top: 3px;
    padding: 3px;
    padding-top: 5px;
}

.inputTypePassword {
    border: none;
}

.changePasswordDiv {
    width: 100%;
    border: 1px solid #eef0f1;
    font-family: BeVietnamPro-Regular;
    font-size: 14px;
    color: #828c8e;
    margin-top: 3px;
    padding: 3px;
    padding-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.changePasswordcontainer {
    /* display: flex; */
    /* justify-content: space-between; */
    width: 100%;
    display: none;
}

#updateButton {
    display: none;
}

.dropdown-content-links {
    display: none;
    position: absolute;
    background-color: #f2f3f5;
    min-width: 110px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    /* padding-top: 10px */
}

.dropdown-content-links a {
    padding: 9px 13px;
    text-decoration: none;
    display: block;
    font-family: BeVietnamPro-Regular !important;
    font-size: 12px;
    color: #000;
    /* font-family: BeVietnamPro-Regular; */
}

.dropdown-content-links a:hover {
    background-color: #ff8b22;
    color: #ffffff;
}

.dropdown-links:hover .dropdown-content-links {
    display: block;
}

.dropdown-links {
    float: left;
    overflow: hidden;
}

.dropdown-links .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.subDropLiIcon {
    width: 20px;
}

.subDropLiIconFb {
    width: 20px;
    height: 29px;
}

.subDropLiIconProf {
    width: 20px;
    height: 20px;
}

#dropdownMenuLink {
    top: 20 !important;
}

#headerOther {
    padding-left: 10px;
    list-style-type: none;
    font-size: 14.5px;
    font-weight: 500;
    font-family: BeVietnamPro-Regular !important;
    color: black;
}

#headerOther:hover {
    color: #ff8b22;
}

:root {
    --button-background: dodgerblue;
    --button-color: white;

    --dropdown-highlight: dodgerblue;
    --dropdown-width: 160px;
    --dropdown-background: white;
    --dropdown-color: black;
}

a.button:active {
    filter: brightness(75%);
}

/* Dropdown styles */
.dropdown {
    position: relative;
    padding: 0;
    margin-right: 1em;

    border: none;
}

.dropdown summary {
    list-style: none;
    list-style-type: none;
}

.dropdown > summary::-webkit-details-marker {
    display: none;
}

.dropdown summary:focus {
    outline: none;
}

.dropdown summary:focus a.button {
    border: 2px solid white;
}

.dropdown summary:focus {
    outline: none;
}

.dropdown ul {
    position: absolute;
    margin: 25px 0 0 0;
    padding: 16px 0;
    width: var(--dropdown-width);
    left: 50%;
    margin-left: calc((var(--dropdown-width) / 2) * -1);
    box-sizing: border-box;
    z-index: 2;

    background: var(--dropdown-background);
    border-radius: 6px;
    list-style: none;
}

.dropdown ul li {
    padding: 0;
    margin: 0;
}

.dropdown ul li a:link,
.dropdown ul li a:visited {
    display: inline-block;
    padding: 10px 0.8rem;
    width: 100%;
    box-sizing: border-box;

    color: var(--dropdown-color);
    text-decoration: none;
}

.dropdown ul li a:hover {
    background-color: white;
    color: #ff6537;
}

/* Dropdown triangle */
.dropdown ul::before {
    content: " ";
    position: absolute;
    width: 0;
    height: 0;
    top: -10px;
    left: 50%;
    margin-left: -10px;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent var(--dropdown-background) transparent;
}

/* Close the dropdown with outside clicks */
.dropdown > summary::before {
    display: none;
}

.dropdown[open] > summary::before {
    content: " ";
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
}
